<p><svg><text class="header">
	{{#if isOutOfMoves}}
		Out of Moves!
	{{else if isTeam}}
		{{#if victory}}You Win!{{else}}Defeated{{/if}}
	{{else}}
		{{#if victory}}Level Complete!{{else}}Level Failed{{/if}}
	{{/if}}
</text></svg></p>
<p><svg><text class="middle">You came #{{rank}} of {{playerCount}} players</text></svg></p>

<p><svg><text class="bottom">{{bottomText}}</text></svg></p>