<h1 class="header b5">
	{{#if isOutOfMoves}}
		Out of Moves!
	{{else if isTeam}}
		{{#if victory}}You Win!{{else}}Defeated{{/if}}
	{{else}}
		{{#if victory}}Level Complete!{{else}}Level Failed{{/if}}
	{{/if}}
</h1>
<h3 class="middle b3">You came #{{rank}} of {{playerCount}} players</h3>
<br />
<div>
	<h2 class="b3">Rate Level</h2>
	<div class="vote up">
		<img src="{{thumbsUp}}" style="width: 100px" />
	</div>
	<div class="vote down">
		<img src="{{thumbsDown}}" style="width: 100px" />
	</div>
</div>

<div class="bottom b2">{{bottomText}}</div>