<h1 class="header b5">
	{{#if isOutOfMoves}}
		Out of Moves!
	{{else if isTeam}}
		{{#if victory}}You Win!{{else}}Defeated{{/if}}
	{{else}}
		{{#if victory}}Level Complete!{{else}}Level Failed{{/if}}
	{{/if}}
</h1>
<h3 class="middle b3">You came #{{rank}} of {{playerCount}} players</h3>

<div class="bottom b2">{{bottomText}}</div>