<h1 class="b5">
	{{#if isOutOfMoves}}
		{{_outofmoves}}
	{{else if isTeam}}
		{{#if victory}}{{_youwin}}{{else}}{{_defeated}}{{/if}}
	{{else}}
		{{#if victory}}{{_levelcomplete}}{{else}}{{_levelfailed}}{{/if}}
	{{/if}}
</h1>
<h3 class="middle b3">{{_youcame}}</h3>
<br />
<div>
	<h2 class="b3">{{_ratelevel}}</h2>
	<div class="vote up">
		<img src="{{thumbsUp}}" style="width: 100px" />
	</div>
	<div class="vote down">
		<img src="{{thumbsDown}}" style="width: 100px" />
	</div>
</div>

<div class="bottom b2">{{bottomText}}</div>