<p>
	<h1 class="b5">{{_level}}</h1>
	<span class="size b2">{{_size}}: {{width}} x {{height}}</span>
</p>
{{#if pigsvspugs}}
<h1 class="b5">{{_pigsvspugs}}</h1>
<p>
	<div class="mid-text b2">{{_youareonteam}}</div>
	<div class="mid-text b2">{{_matchbutdontmatch}}</div>

	<div>
		<div class="group b2"><img class="matchable" src="{{yours}}" /><div class="over" style="color: greenyellow">&#x2713;</div></div>
		<div class="group b2"><img class="matchable" src="{{notyours}}" /><div class="over" style="color:red">&#x2718;</div></div>
	</div>
</p>
{{else}}
{{#if getToBottomRace}}
<h1 class="b5">{{_butterflysvsbees}}</h1>
{{/if}}
<p>
	<div class="mid-text b2">{{victoryText}}</div>
	{{#if requirematch}}
	<div class="matchable-container">
		<div class="group">
			<img class="matchable" src="{{pig}}" />
			<img class="matchable over" src="{{cage}}" />
		</div>
	</div>
	{{/if}}
	{{#if getthingstobottom}}
	<div class="matchable-container mid-text b2">
		&#x2193;
		<img class="matchable" src="{{gettobottom}}" />
		&#x2193;
	</div>
	{{/if}}
	<div class="mid-text b2">{{failureText}}</div>
	{{#if getToBottomRace}}
	<div class="matchable-container">
		<div class="group b2"><img class="matchable" src="{{yours}}" /><div class="over" style="color: greenyellow">&#x21E3;</div></div>
		<div class="group b2"><img class="matchable" src="{{notyours}}" /><div class="over" style="color:red">&#x2718;</div></div>
	</div>
	{{/if}}
	{{#if subtext}}
		<div class="sub-text b2">{{subtext}}</div>
	{{/if}}
</p>
{{/if}}
<p>
	<span class="start b2">{{_clicktostart}}</span>
</p>