<p>
	<h1 class="b5">Level {{levelNumber}}</h1>
	<span class="size b2">Size: {{width}} x {{height}}</span>
</p>
{{#if pigsvspugs}}
<h1 class="b5">Pigs VS Pugs</h1>
<p>
	<div class="mid-text b3">You are on team {{yourstext}}</div>
	<div class="mid-text b3">Match <div class="group"><img class="matchable" src="{{yours}}" /><div class="over" style="color: greenyellow">✔</div></div>, but don't match <div class="group"><img class="matchable" src="{{notyours}}" /><div class="over" style="color:red">✘</div></div>
</p>
{{else}}
<p>
	<div class="mid-text b3">{{victoryText}}</div>
	<div class="mid-text b3">{{failureText}}</div>
</p>
{{/if}}
<p>
	<span class="start b2">Click to start</span>
</p>