<p>
	<svg><text class="header">Level {{levelNumber}}</text></svg><br/>
	<svg><text class="size">Size: {{width}} x {{height}}</text></svg>
</p>
<p>
	<svg><text class="mid-text">{{victoryText}}</text></svg>
	<svg><text class="mid-text">{{failureText}}</text></svg>
</p>

<p>
	<svg><text class="start">Click to start</text></svg>
</p>