<div class="bottom-corner-buttons b3">
	<div class="fullscreen-button">
		<img src="fullscreen.svg" title="fullscreen" />
	</div><div class="feedback-button">
		Feedback
	</div><div class="help-button">
		Help
	</div>
</div>

{{#if overlayVisible}}
<div class="overlay-background"></div>
{{/if}}

{{#if customOverlay}}
<div id="overlay" class="overlay {{customOverlay.className}}">
	{{{customOverlay.content}}}
</div>
{{/if}}

{{#if helpVisible}}
<div class="overlay frame help-overlay b2">
	<h1 class="b5">Controls</h1>
	<p>
		Click and drag animals to match them.<br/>
		You can only drag ones that will make a 3 in a row match.
	</p>
	<p>
		Zoom in and out using the mouse wheel.<br/>
		Move around by dragging with the right mouse button.
	</p>
	<p>
		You can also use the keyboard to look around<br/>
		(Arrow Keys or WASD)
	</p>


	<h2 class="b3">Special Matches</h2>
	<div class="matchable-container b5">
		<img class="matchable" src="{{matchable1Src}}" />
		<img class="matchable" src="{{matchable1Src}}" />
		<img class="matchable" src="{{matchable1Src}}" />
		<img class="matchable" src="{{matchable1Src}}" />
		=&gt;
		<div class="matchable" style="background-image: url('{{matchable1Src}}');">
			<img class="matchable" src="{{verticalSrc}}" />
		</div>
	</div>		

	<p>
		When matched, clears animals in a line
	</p>
	
	<div class="matchable-container b5">
		<div style="text-align: left; display: inline-block">
			<img class="matchable" src="{{matchable1Src}}" /><img class="matchable" src="{{matchable1Src}}" /><img class="matchable" src="{{matchable1Src}}" /><br/>
			<img class="matchable" src="{{matchable1Src}}" style="margin-left: 40px" /> &nbsp; =&gt; &nbsp; <div class="matchable" style="background-image: url('{{matchable1Src}}');">
			<img class="matchable" src="{{areaclearSrc}}" />
		</div><br/>
			<img class="matchable" src="{{matchable1Src}}" style="margin-left: 40px" />
			
		</div>
	</div>		

	<p>
		When matched, clears a small area
	</p>

	<div class="matchable-container b5">
		<img class="matchable" src="{{matchable1Src}}" />
		<img class="matchable" src="{{matchable1Src}}" />
		<img class="matchable" src="{{matchable1Src}}" />
		<img class="matchable" src="{{matchable1Src}}" />
		<img class="matchable" src="{{matchable1Src}}" />
		=&gt;
		<img class="matchable" src="{{colorClearSrc}}" />
	</div>		
	<p>
		When swapped with an animal, clears that animal
	</p>
	
	
	<p>
		<a href="http://emojione.com" target="_blank" class="emojione">Animal Art provided by Emoji One</a>
	</p>
	
	<img class="close-button" src="{{closeSrc}}" />
</div>
{{/if}}

{{#if connectionErrorVisible}}
<div id="connection-error">
	<div class="details b3">Connecting...</div>
	<div class="details b3">If this continues, try refreshing the page</div>
</div>
{{/if}}
