<div class="bottom-corner-buttons">
	<div class="feedback-button">
		<svg><text class="text">Feedback</text></svg>
	</div><div class="help-button">
		<svg><text class="text">Help</text></svg>
	</div>
</div>

{{#if overlayVisible}}
<div class="overlay-background"></div>
{{/if}}

{{#if helpVisible}}
<div class="overlay frame help-overlay">
	<p><svg><text class="heading">Controls</text></svg></p>
	<p>
		<svg><text class="details">
		Click and drag animals to match them.
		</text></svg> 
		<svg><text class="details">
		You can only drag ones that will make a 3 in a row match.
		</text></svg>
	</p>
	<p>
		<svg><text class="details">
		Zoom in and out using the mouse wheel.
		</text></svg> 
		<svg><text class="details">
		Move around by dragging with the right mouse button.
		</text></svg>
	</p>
	<p>
		<svg><text class="details">
		You can also use the keyboard to look around 
		</text></svg><br/>
		<svg><text class="details">
		(Arrow Keys or WASD)
		</text></svg>
	</p>


	<p><svg><text class="sub-heading">Special Matches</text></svg></p>
	<div class="matchable-container b5">
		<img class="matchable" src="{{matchable1Src}}" />
		<img class="matchable" src="{{matchable1Src}}" />
		<img class="matchable" src="{{matchable1Src}}" />
		<img class="matchable" src="{{matchable1Src}}" />
		=&gt;
		<div class="matchable" style="background-image: url('{{matchable1Src}}');">
			<img class="matchable" src="{{verticalSrc}}" />
		</div>
	</div>		

	<p>
		<svg><text class="details">
		When matched, clears animals in a line
		</text></svg>
	</p>
	
	<div class="matchable-container b5">
		<div style="text-align: left; display: inline-block">
			<img class="matchable" src="{{matchable1Src}}" /><img class="matchable" src="{{matchable1Src}}" /><img class="matchable" src="{{matchable1Src}}" /><br/>
			<img class="matchable" src="{{matchable1Src}}" style="margin-left: 40px" /> &nbsp; =&gt; &nbsp; <div class="matchable" style="background-image: url('{{matchable1Src}}');">
			<img class="matchable" src="{{areaclearSrc}}" />
		</div><br/>
			<img class="matchable" src="{{matchable1Src}}" style="margin-left: 40px" />
			
		</div>
	</div>		

	<p>
		<svg><text class="details">
		When matched, clears a small area
		</text></svg>
	</p>

	<div class="matchable-container b5">
		<img class="matchable" src="{{matchable1Src}}" />
		<img class="matchable" src="{{matchable1Src}}" />
		<img class="matchable" src="{{matchable1Src}}" />
		<img class="matchable" src="{{matchable1Src}}" />
		<img class="matchable" src="{{matchable1Src}}" />
		=&gt;
		<img class="matchable" src="{{colorClearSrc}}" />
	</div>		
	<p>
		<svg><text class="details">
		When swapped with an animal, clears that animal
		</text></svg> 
	</p>
	
	
	<p>
		<a href="http://emojione.com" target="_blank"><svg><text class="emojione">Animal Art provided by Emoji One</text></svg></a>
	</p>
	
	<img class="close-button" src="{{closeSrc}}" />
</div>
{{/if}}

{{#if connectionErrorVisible}}
<div id="connection-error">
	<svg><text class="details">Connecting...</text></svg><br/>
	<svg><text class="details">If this continues, try refreshing the page</text></svg>
</div>
{{/if}}

{{#if customOverlay}}
<div id="overlay" class="overlay {{customOverlay.className}}">
	{{{customOverlay.content}}}
</div>
{{/if}}